body {
  font-family: sans-serif;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

#app {
  display: flex;
  justify-content: center; /* Horizontally center the .parent */
  align-items: center; /* Vertically center the .parent */
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #264c6e 0%, #030c21 100%);
}

.parent {
  margin-top: -40px;
  display: grid;
  grid-template-columns: 0.01fr 0.2fr 1fr 0.01fr;
  grid-template-rows: 0.01fr 0.1fr 1fr 0.01fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  min-width: 80vw;
  max-height: 90vh;
  /* overflow-y: auto; */
  border-radius: 12px;
}

.scrollable-content {
  overflow-y: auto;
  grid-area: 3 / 2 / 4 / 4; /* Inherit the grid area properties of div4 */

  /* Force scroll bar to show when there is content to scroll */
  overflow-y: auto;
}

.scrollable-content::-webkit-scrollbar {
  width: 12px; /* Adjust width as needed */
}

.scrollable-content::-webkit-scrollbar-thumb {
  background-color: #9e0a9b; /* Color of the scroll thumb */
  border-radius: 6px;
}

.scrollable-content::-webkit-scrollbar-track {
  background-color: transparent; /* Color of the scroll track */
  border-radius: 6px;
}

.div1 {
  grid-area: 1 / 1 / 5 / 5;
  background: linear-gradient(0deg, #3a7bb4 0%, #022d8b 100%);
  min-height: 40vh;
  border-radius: 10px;
  box-shadow: 0px 4px 35px rgb(68, 129, 142);
}

.div2 {
  grid-area: 2 / 2 / 3 / 3;
}
.div3 {
  grid-area: 2 / 3 / 3 / 4;
  margin-left: -150px;
}
.div4 {
  grid-area: 3 / 2 / 4 / 4;
  color: #fff;
  margin: 20px;
}

.dot {
  width: 10px; /* Set the width of the circle */
  height: 10px; /* Set the height of the circle */
  background-color: rgb(252, 96, 91);
  border-radius: 50%; /* Makes it a circle */
  display: inline-block; /* Makes it inline so you can put it next to other elements */
  border: solid 1px rgb(238, 85, 82);
}

.dot2 {
  width: 10px; /* Set the width of the circle */
  height: 10px; /* Set the height of the circle */
  background-color: rgb(252, 187, 64);
  border-radius: 50%; /* Makes it a circle */
  display: inline-block;
  border: solid 1px rgb(238, 175, 59);
}

.dot3 {
  width: 10px; /* Set the width of the circle */
  height: 10px; /* Set the height of the circle */
  background-color: rgb(52, 200, 73);
  border-radius: 50%; /* Makes it a circle */
  display: inline-block;
  border: solid 1px rgb(44, 183, 62);
}

.welcomeBanner {
  color: rgb(253, 253, 253);
  margin: 0;
  text-align: center;
}

#input {
  background-color: transparent;
  border: none;
  outline: none;
  width: 240px;
  margin-left: 10px;
  color: #fff;
}

#ascii-art {
  font-family: "Courier New", Courier, monospace;
}

.prompt,
.enteredCommand {
  color: white;
}

.prompt {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
}

.enteredCommand {
  margin-left: 10px;
}

.cmd {
  display: inline-block;
  width: 100px; /* Size based on longest command */
  /* text-shadow: 2px 2px 15px rgba(42, 246, 255, 0.91); */
  color: #b6eab6;
  /* Green Glow */
  /* text-shadow: 0 0 22px #00ff00, 0 0 8px #00ff00, 0 0 10px #00ff00; */
  /* Pink glow */
  color: #fff;
  text-shadow: 0 0 15px #ff69b4, 0 0 10px #ff69b4, 0 0 15px #ff69b4;
}

.desc {
  margin-left: 10px;
  display: inline-block;
  font-family: "DM Sans", sans-serif;
}

.help-command-div > div {
  padding: 7px 0; /* Add padding between commands */
}

.help-contact-div > div {
  padding: 7px 0; /* Add padding between commands */
  display: flex; /* Set the container to flex */
  justify-content: flex-start;
}

.howDesc {
  width: 150px;
}

.help-contact-div a {
  color: rgb(16, 239, 236);
  text-decoration: none;
  /* font-family: "DM Sans", sans-serif;
  font-family: "Lexend Deca", sans-serif;
  font-family: "Moirai One", cursive; */

  font-family: "DM Sans", sans-serif;
}

.help-contact-div a:hover {
  color: #fba3cf;
}

/* Standard fonts */
#input,
.prompt,
.enteredCommand,
.cmd,
.desc,
.helpWelcome,
.how,
.howDesc,
.link,
.linkDesc {
  font-size: 16px;
}

.helpWelcome {
  margin-bottom: 20px;
}

/* About me Styling */
.about-section {
  color: #fff;
  width: 70vw;
  margin: 9px;
  font-family: "DM Sans", sans-serif;
  font-weight: 200;
}
/* Contact styles */
.howDesc {
  display: inline-block;
  margin-right: 10px;
}

.name-style {
  color: rgb(242, 149, 228);
  font-weight: 400;
}
.domain-style {
  padding-right: 7px;
}

.tilde-span {
  padding-right: 2px;
  color: #38ce66;
}

.link {
  color: #fff;
}

#helpCommand {
  color: #2ced2c;
  text-shadow: -3px -2px 12px #38ce66;
  /* Green glowing text */
  /* text-shadow: 2px 2px 12px #1ece84; */
  font-size: 16px;

  /* Pink glowing text */
  color: #fff;
  text-shadow: 0 0 15px #ff69b4, 0 0 10px #ff69b4, 0 0 15px #ff69b4;
}

/* Portfolio styling */
.divs1,
.divs2,
.divs3,
.divs4 {
  margin-bottom: 20px;
}

.projectDiv {
  margin-bottom: 20px;
}

.projectTitle {
  font-family: "DM Sans", sans-serif;
  font-size: 17px;
  letter-spacing: 0.2rem;
  display: inline-block;
  margin-bottom: 3px;
}

.parents .divs1 .projectTitle {
  margin-top: 15px;
}

.githubLink {
  color: #fff;
  text-decoration: none;
  margin-top: 9px;
  display: block;
  text-decoration: underline;
  text-shadow: 0 0 15px #ff69b4, 0 0 10px #ff69b4, 0 0 15px #ff69b4;
}

.githubLink:hover {
  color: rgb(226, 158, 231);
}

.projectDesc {
  letter-spacing: 2px;
  font-size: 15px;
}

.technologiesUsed {
  letter-spacing: 0.1rem;
}

/* Styling for the contact form */
.message-style {
  width: 100%;
  max-width: 300px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.form-style {
  display: flex;
  flex-direction: column;
  gap: 0.2em; /* This creates space between form elements */
  outline: none;
  margin-top: 10px;
}

.input-style {
  padding: 0.3em;
  border: none;
  border-bottom: 2px solid #fff;
  background-color: transparent;
  transition: border-bottom-color 0.3s;
  outline: none;
  font-size: 18px;
  color: #ff69b4;
}

.input-style::placeholder {
  color: #888;
  font-style: italic;
  opacity: 1;
  font-size: 14px;
}

.input-style:focus {
  border-bottom-color: #ff69b4;
}

.button-style {
  padding: 0.5em 1em;
  border: none;
  background-color: #ff69b4;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 30px;
  margin-bottom: 22px;
}

.button-style:hover {
  background-color: #d5e0ec;
  color: #ff69b4;
}

/* Form Submission fonfirmation */
.submittedForm {
  color: rgb(53, 191, 53);
  font-size: 16px;
  font-style: italic;
  margin-top: 8px;
  margin-bottom: 8px;
}
