body {
  background-color: #ffffff;
  margin: 20px;
}

#ascii-art {
  font-family: "Courier New", Courier, monospace;
}

#input {
  border: none;
  outline: none;
  width: 240px;
  color: blue;
  font-size: 22px;
  font-family: "Courier New", Courier, monospace;
  margin-left: 10px;
}

.prompt,
.enteredCommand {
  color: blue;
  font-size: 22px;
  font-family: "Courier New", Courier, monospace;
}

.prompt {
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 15px;
}

.enteredCommand {
  margin-left: 10px;
}

.cmd {
  display: inline-block;
  width: 100px; /* Size based on longest command */
}

.desc {
  margin-left: 10px;
  display: inline-block;
}

/* To add padding between commands */
div > div {
  padding: 12px 0;
}
